:root {
    --primary-color: #1a1a1a;
    --secondary-color: #333333;
    --accent-color: #ff5e3a;
    --text-color: #ffffff;
    --background-color: #1a1a1a;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
    text-align: center;
}

.clickable {
    cursor: pointer;
}

.hidden {
    display: none;
}

h1 {
    font-size: 4rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

hr {
    width: 40%;
    border-color: var(--text-color);
    margin-bottom: 40px;
}

#searchForm {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#search {
    border: 1px solid #ffffff;
    border-radius: 5px 0 0 5px;
    background-color: transparent;
    padding: 10px;
    width: 30%;
    color: var(--text-color);
    font-size: large;
    border-right: 1px solid var(--text-color); 
}

button {
    background: none;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 0 5px 5px 0;
    padding: 10px 15px;
    font-size: large;
    cursor: pointer;
}

button:hover {
    background-color: var(--text-color);
}

button:hover svg {
    fill: var(--background-color);
}

svg {
    fill: var(--text-color);
}

.movie {
    border: none;
    border-radius: 10px;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 40%;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.results {
    margin-top: 40px;
}